{% extends 'login-register.html' %}
{% block title %}
    <title>Сброс пароля</title>
{% endblock %}
{% block reset %}
<div class="login-register-tab-list nav">
    <a class="active" data-toggle="tab" href="{% url 'accounts:login' %}"><h4> Ввойти </h4></a>
    <a data-toggle="tab" href="{% url 'accounts:register' %}"><h4> Зарегистрироваться </h4>
    </a>
</div>
<div class="tab-content">
    <div id="lg1" class="tab-pane active">
        <div class="login-form-container">
            <div class="login-register-form">
                <h1>Смена пароля</h1>
                <p>Введите ваш email, мы вышлем вам инструкцию по смене пароля.</p>
                  <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                      <div class="button-box">
                          <button type="submit"><span>Отправить письмо</span></button>

                  </div>
                  </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}