{% extends 'login-register.html' %}
{% block title %}
    <title>Сброс пароля</title>
{% endblock %}
{% block reset_confirm %}
<div class="tab-content">
    <div id="lg1" class="tab-pane active">
        <div class="login-form-container">
            <div class="login-register-form">
            {% if validlink %}
              <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="button-box">
                    <button type="submit"><span>Сменить пароль</span></button>
                </div>
                </form>
              {% else %}
              <p>Ссылка не действительна</p>
              {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}