{% load static %}
<footer class="footer-area">
  <div class="footer-bottom gray-bg-3 pt-17 pb-15">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="copyright text-center">
            <p>Copyright © {% now "Y" %}<a href="#"> lokilal.</a> All Right Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

		<!-- all js here -->
<script src="{%static 'market/js/popper.js' %}"></script>
<script src="{%static 'market/js/vendor/jquery-1.12.0.min.js' %}"></script>
<script src="{%static 'market/js/elevetezoom.js' %}"></script>
<script src="{%static 'market/js/owl.carousel.min.js' %}"></script>
<script src="{%static 'market/js/plugins.js' %}"></script>
<script src="{%static 'market/js/main.js' %}"></script>